$desktop: "only screen and (min-width: 1201px) and (max-width: 1600px)";
$tablet: "only screen and (min-width: 981px) and (max-width: 1200px)";
$tablet-portrait: "only screen and (min-width: 1px) and (max-width: 980px)";
$mobile: "only screen and (max-width: 650px)";

$primary-color: #444444;
$secondary-color: #1691C3;
$background-color: #E4E4E4;
$logo-color: #FC4887;
$white-color: #FFFFFF;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Oleo Script', cursive, sans-serif;
$container-width: 1400px;