@use "../../mixins/mixins";
@use "../../variables/general";
.blog {
  img {
    width: 100%;
  }

  div.row {
    gap: 20px;
    flex-wrap: nowrap;
  }
  .blog__column { line-height: 2em;}

  .blog__column--subtitle {
    margin-bottom: 30px;
    color: general.$text-color;
  }
  .blog__column--content {
    color: general.$text-color;
  }
}