@use "../../variables/general";
.footer {
  .footer__link { display: block; color: general.$text-color; line-height: 2em;}
  i {
    background-color: general.$icon-color;
    color: general.$icon-background-color;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  p { line-height: 2em;}
  .footer__social { margin: 15px 0;}
  .footer_copyright {
    margin: 15px auto;
    color: general.$copy-color;
  }
}