@use "../../variables/general";
@use "../../mixins/mixins";
.btn {
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background-color: general.$secondary-color;
  color: general.$white-color;
  text-decoration: none;
  font-weight: 800;
  width: 100%;
  @include mixins.tablet-portrait() {
    justify-content: center;
    flex-direction: row-reverse;
  }
}

.btn-large {
  padding: 25px 20px;
  font-size: 2.25em;
  @include mixins.tablet() { font-size: 1.75em; }
  @include mixins.tablet-portrait() { font-size: 1.7em; }
}

.btn-primary {
  background-color: general.$secondary-color;
  color: general.$white-color;
}

.btn-secondary {
  background-color: general.$background-color;
  color: general.$primary-color;
}