@use "../../variables/general";

.card {
  background-color: general.$white-color;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px #0000000d;
}