@use "../../variables/general";
@use "../../mixins/mixins";
@use "../header/header";
@use "../banner/banner";
@use "../common/buttons";
@use "../common/common";
@use "../blog/blog";
body {
  font-family: general.$primary-font ;
  background-color: general.$background-color;
  font-size: 11pt;
  @include mixins.mobile() { font-size: 5pt; }
  @include mixins.tablet-portrait() { font-size: 7pt; }
  @include mixins.tablet() { font-size: 9pt; }
}

.section { margin: 50px 0; }